<section id="wrapper">
    <div class="login-register" style="background-image:url(/static/app/dist/app/assets/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form 
                    ngNativeValidate
                    [formGroup]="form"
                    (ngSubmit)="onSubmit()"    
                    class="form-horizontal form-material"
                    id="loginform">
                    <h3 class="box-title m-b-20">Sign In</h3>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input
                                formControlName="username"
                                name="username"
                                class="form-control"
                                type="text"
                                required
                                placeholder="Username">
                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                    <div *ngIf="f.username.errors.minlength">Username must be at least 8 characters</div>
                                    <div *ngIf="f.username.errors.required">Username is required</div>
                                </div> 
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input
                                formControlName="password"
                                name="password"
                                class="form-control"
                                type="password"
                                required
                                placeholder="Password">
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                            <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Log In</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            Don't have an account? <a [routerLink]="['/signup']" routerLinkActive="active"  class="text-info m-l-5"><b>Sign Up</b></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>