<div class="row" *ngIf="booking && room && pax">
        <div class="col-md-12">
            <div class="card card-body printableArea">
                <h3><b>Booking information</b> <span class="pull-right">#{{booking.id}}</span></h3>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-left">
                            <address>
                                <h3> &nbsp;<b class="text-danger">{{room.hotel_display}}</b></h3>
                                <p class="text-muted m-l-5">{{room.location}}</p>
                            </address>
                        </div>
                        <div class="pull-right text-right">
                            <address>
                                <h4 class="font-bold">Booking, <b *ngIf="!booking.confirmed" class="text-danger">Not confirmed</b></h4>
                                <p class="m-t-30"><b>Invoice Date :</b> <i class="fa fa-calendar"></i> {{booking.date | date}}</p>
                            </address>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive m-t-40" style="clear: both;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Room</th>
                                        <th class="text-right">Nights</th>
                                        <th class="text-right">Pax</th>
                                        <th class="text-right">Arrival</th>
                                        <th class="text-right">Deperture</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>{{room.name}}</td>
                                        <td class="text-right">{{booking.nights}}</td>
                                        <td class="text-right"> {{booking.total_pax}} </td>
                                        <td class="text-right"> {{booking.arrival}} </td>
                                        <td class="text-right"> {{booking.deperture}} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="table-responsive m-t-40" style="clear: both;">
                            <h4>Pax information</h4>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Name</th>
                                        <th>Document</th>
                                        <th>Genre</th>
                                        <th>Born date</th>
                                        <th class="text-right">Email</th>
                                        <th class="text-right">Phone</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of pax;let i = index">
                                        <td class="text-center">{{i+1}}</td>
                                        <td>{{p.full_name}}</td>
                                        <td>{{p.doc_type_display}} {{p.doc_number}}</td>
                                        <td>{{p.genre_display}}</td>
                                        <td>{{p.born_date | date}}</td>
                                        <td class="text-right">{{p.email}}</td>
                                        <td class="text-right"> {{p.telephone}} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                            <div class="table-responsive m-t-40" style="clear: both;">
                                <h4>Emergency contact</h4>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Phone</th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{booking.emergency_name}}</td>
                                            <td>{{booking.emergency_phone}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    <div class="col-md-12">
                        <div class="pull-right m-t-30 text-right">
                            <p>Sub - Total amount: {{booking.base_price | currency}}</p>
                            <p>vat ({{booking.tax}} %) : {{(booking.base_price/100*booking.tax) | currency}} </p>
                            <hr>
                            <h3><b>Total :</b> {{booking.total_imported | currency}}</h3>
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                        <div class="text-right">
                            <button class="btn btn-danger" type="submit" [routerLink]="['/backhotel']"  > Go back </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
