<aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li *ngFor="let menu of _sidebar.menu"> 
                        <a *ngIf="menu.path; else notPath" [routerLink]="[menu.path]"><i [class]="menu.icon"></i> {{menu.title}} </a>
                        <ng-template #notPath>
                            <a>
                                <i [class]="menu.icon"></i> {{menu.title}} 
                            </a>
                        </ng-template>
                        <ul aria-expanded="false" *ngIf="menu.children" class="collapse">
                            <li *ngFor="let submenu of menu.children" routerLinkActive="active" >
                                <a [routerLink]="[submenu.path]" >
                                    <i [class]="submenu.icon"></i>
                                    {{submenu.title}}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>